@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
.App {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: auto;
  overflow-x: hidden;
}
.loadPage {
  margin-top: 5%;
  width: 50%;
  border-radius: 50%;
}