@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
/* ====================HEADER================= */
.header {
    text-align: left;
    display: grid;
    grid-template-columns: 60% 25% 15%;
    grid-template-rows: 30px;
    user-select: none;
    width: 100%;
    height: 30px;
    background-color: rgb(34, 102, 102);
    padding: 5px;
    color: lightgrey;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    position: fixed;
}
.searchBar {
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 4px 10px;
    width: 75%;
    place-self: end;
    text-align: left;
    height: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 1em;
    background-color: rgba(255, 255, 255 , 0.3);
    transition: all 500ms;
}
.searchBar::placeholder {
    color: black;
    transition: all 500ms;
}
.searchBar:focus {
    background-color: rgba(255, 255, 255 , 0.9);
    color: slategrey;
    transition: all 500ms;
}
.searchBar:focus::placeholder {
    transition: all 500ms;
    color: slategrey;
}
.searchBar::selection {
    background-color: rgba(34, 102, 102, 0.3);
    color: slategrey;
}
.userName {
    align-self: center;
    text-align: right;
    margin: 0 2% 0 0;
    font-weight: 200;
}
.userImg {
    width: 30px;
    height: 30px;
    margin-right: 65%;
    transition: all 500ms;
}
/* ====================CONTENT================= */
.mainSection {
    text-align: center;
    color: slategrey;
    min-height: 550px;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: rgba(34, 102, 102, 0.1);
    width: 75%;
    margin: auto;
}
.playlistsHolder {
    padding: 3%;
    display: grid;
    grid-template-columns: minmax(30%, 35%) minmax(30%, 35%) minmax(30%, 35%);
    grid-column-gap: 1%;
    grid-row-gap: 2%;
}
.playlistHolder {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr;
}
.playlistName {
    font-size: 1.25em;
    height: 2.5em;
    margin: 0;
}
.playlistImage {
    margin: auto;
    width: 150px;
    height: auto;
}
.playlistTrack {
    list-style: none;
    word-break: break-word;
}
.firstLetterUppercase {
    max-width: 85%;
    margin: auto;
}
.firstLetterUppercase:first-letter {
    text-transform: capitalize;
}
/* ====================FOOTER================= */
.footer {
    width: 100%;
    height: 60px;
    background-color: rgb(34, 102, 102);
    color: slategrey;
}

@media only screen and (max-width: 650px) {
    .playlistsHolder {
        padding: 3%;
        display: grid;
        grid-template-columns: minmax(47%, 53%) minmax(47%, 53%);
        grid-column-gap: 1%;
        grid-row-gap: 2%;
    }
    .mainSection {
        text-align: center;
        color: slategrey;
        min-height: 550px;
        height: auto;
        padding-top: 30px;
        padding-bottom: 60px;
        background-color: rgba(34, 102, 102, 0.1);
        width: 75%;
        margin: auto;
    }
}
@media only screen and (max-width: 600px) {
    .header {
        height: 50px;
        grid-template-rows: 50px;
    }
    .searchBar {
        align-self: center;
        height: 40px;
    }
    .userImg, .userName {
        text-align: center;
        align-self: center;
    }
    .userImg {
        width: 40px;
        height: auto;
    }
}
@media only screen and (max-width: 450px) {
    .playlistsHolder {
        padding: 3%;
        display: grid;
        grid-template-columns: auto;
    }
    .mainSection {
        text-align: center;
        color: slategrey;
        min-height: 550px;
        height: auto;
        padding-top: 30px;
        padding-bottom: 60px;
        background-color: rgba(34, 102, 102, 0.1);
        width: 75%;
        margin: auto;
    }
}