.songSearch{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 70%;
    grid-column-gap: 5%;
    width: 100%;
    margin: 0 1%;
}
.songSearchBar {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    font-weight: bolder;
    padding: 3px 5px;
    border: 2px solid rgb(34, 102, 102);
    color: rgb(34, 102, 102);
    height: 25px;
    width: 80%;
    outline: none;
}
.songSearchBar::selection {
    background-color: rgb(232, 239, 239);
}
.songSearchBar:focus::placeholder {
    color: rgb(34, 102, 102);
}
.predictive {
    border: 2px solid rgb(34, 102, 102);
    border-top: none;
    background-color: white;
    width: 82%;
    text-align: left;
    margin: auto;
    transition: all 1s;
}
.predictiveText {
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 5px;
    list-style-type: none;
    cursor: pointer;
}
.predictiveText:hover {
    user-select: none;
    background-color: rgb(34, 102, 102);
    color: white;
}
.songsHolder {
    width: 80%;
    background-color: white;
    margin: auto;
    height: 300px;
    overflow-y: scroll;
    border: 2px solid rgb(34, 102, 102);
}
.songsToAdd {
    list-style-type: none;
    text-align: left;
    cursor: pointer;
    padding: 2px 8px;
    user-select: none;
}
.songsToAdd:hover {
    font-weight: bold;
}
.addToPlaylist {
    margin: 10px;
    width: 80%;
}
.active {
    background-color: rgb(34, 102, 102);
    color: white;
}
.newPlaylistSongs {
    width: 80%;
    background-color: white;
    margin: auto;
    height: 300px;
    overflow-y: scroll;
    border: 2px solid rgb(34, 102, 102);
}
.casual {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto;
    grid-auto-rows: 1fr;
    width: 100%;
    line-height: 25px;
    margin-top: 5px;
    text-align: left;
}
.songToAddName {
    margin: 0;
    padding-left: 5px;
    user-select: none;
}
.remove {
    outline: none;
    align-self: center;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid rgb(34, 102, 102);
    color: rgb(34, 102, 102);
    padding: 0% 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1em;
}
.remove:hover {
    font-weight: bold;
    border: 3px solid rgb(34, 102, 102);
}
.addPlaylist {
    margin-top: 100px;
    width: 90%;
}
.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 8px;
    outline: 0;
    background-color: transparent;
    border: 2px solid rgb(34, 102, 102);
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(34, 102, 102);
    color: white;
}
.hr {
    width: 100%;
    height: 1px;
}
/*===================MEDIA==============*/

@media only screen and (max-width: 500px) {
    .songSearch {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
    }
}