.songSearch{
    display: grid;
    grid-template-columns: 50% 40%;
    grid-column-gap: 10%;
    grid-template-rows: 50% 50%;
    width: 100%;
    margin: 0 1%;
}
.songSearchBar {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    font-weight: bolder;
    padding: 3px 5px;
    border: 2px solid rgb(34, 102, 102);
    color: rgb(34, 102, 102);
    height: 25px;
    width: 80%;
    outline: none;
}
.songSearchBar::selection {
    background-color: rgb(232, 239, 239);
}
.songSearchBar:focus::placeholder {
    color: rgb(34, 102, 102);
}
.predictive {
    border: 2px solid rgb(34, 102, 102);
    border-top: none;
    background-color: white;
    width: 82%;
    text-align: left;
    margin: auto;
}
.predictiveText {
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 5px;
    list-style-type: none;
    cursor: pointer;
}
.predictiveText:hover {
    user-select: none;
    background-color: rgb(34, 102, 102);
    color: white;
}
.newPlaylist {
    width: 45%;
    display: inline-block;
    margin: 0 1%;
}
.casual {
    text-align: center;
    line-height: 2em;
    margin: auto;
}
.remove {
    outline: none;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid rgb(34, 102, 102);
    color: rgb(34, 102, 102);
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1em;
}
.remove:hover {
    font-weight: bold;
    border: 3px solid rgb(34, 102, 102);
}
.songsHolder {
    width: 80%;
    background-color: white;
    margin: auto;
    height: 300px;
    overflow-y: scroll;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid rgb(34, 102, 102);
}
.songsToAdd {
    list-style-type: none;
    text-align: left;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 20px;
}
.songsToAdd:hover {
    font-weight: bold;
}
.active {
    background-color: rgb(34, 102, 102);
    color: white;
}