.loginPage {
    background-image: linear-gradient(to bottom, rgb(34, 104, 104), rgb(104, 104, 104));
    text-align: center;
    height: 500px;
    padding: 20%;
}
.login {
    outline: none;
    background-color: transparent;
    border: 2px solid slategrey;
    cursor: pointer;
    color: rgb(34, 104, 104);
    height: 30%;
    width: 65%;
}
.btn-login:hover {
    box-shadow: 0 0 3px 5px slategrey;
}