.playlists {
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
.playlist {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}