.searchBar {
    display: inline;
    float: left;
    margin-left: 9%;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 4px 10px;
    width: 50%;
    text-align: left;
    height: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 1em;
    background-color: rgba(255, 255, 255 , 0.3);
    transition: all 500ms;
}
.searchBar::placeholder {
    color: black;
    transition: all 500ms;
}
.searchBar:focus {
    background-color: rgba(255, 255, 255 , 0.9);
    color: slategrey;
    transition: all 500ms;
}
.searchBar:focus::placeholder {
    transition: all 500ms;
    color: slategrey;
}
.searchBar::selection {
    background-color: rgba(34, 102, 102, 0.3);
    color: slategrey;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 50px;
        grid-template-rows: 50px;
    }
    .searchBar {
        height: 40px;
    }
    .userImg, .userName {
        text-align: center;
    }
    .userName {
        width: 100px;
    }
    .userImg {
        margin-top: 1%;
    }
    .userImg, .menuIcon {
        width: 40px;
        height: auto;
    }
}

/* ====================RESPONSIVE================= */
@media only screen and (max-width: 1000px) {
    .searchBar {
        width: 30%;
    }
}
@media only screen and (max-width: 500px) {
    .searchBar {
        width: 45%;
    }
}